.title_icon {
  margin-bottom: 1.5rem;
  letter-spacing: .07em;
  img {
    height: 40px;
    margin-bottom: .75rem;
  }
  h2 {
    font-size: 1.05em;
    color: #333;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  p {
    color: #979797;
    font-size: 0.9em;
  }
}
.info_list {
  background: #fff;
  border-top: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  text-align: left;
  li {
    display: flex;
    align-items: center;
    padding: 0 4%;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
  }
  h4 {
    flex-shrink: 0;
    min-width: 5rem;
    color: #585858;
  }
  p {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding: 0.9rem 0;
    font-weight: bold;
    color: #333;
  }
  .price {
    color: $red;
    font-family: $font_num;
    margin: 0;
  }
}

.list_notice {
  font-size: 0.9rem;
  color: #979797;
  line-height: 1.4;
  text-align: justify;
  li {
    margin-bottom: 0.75rem;
  }
}