.media {
  display: flex;
  padding: 12px;
  align-items: center;
  .image {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    margin-right: .5rem;
  }
}
.logo {
  padding: 0;
  padding-bottom: 12px;
  font-size: 14px;
  .image {
    width: 30px;
    height: 30px;
  }
}